{% extends "base.html" %}
{% block title %}Edit post{% endblock %}
{% block content %}
{% load user_filters %}
<div>
    <h1 class="title">Edit post</h1>
    <div class="form-container">
        {% if form.errors %}
        {% for field in form %}
        {% for error in field.errors %}
        <div>
            {{ error|escape }}
        </div>
        {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
        <div>
            {{ error|escape }}
        </div>
        {% endfor %}
        {% endif %}

        <form method="post"
              enctype="multipart/form-data"
              {% if action_url %}
              action="{% url action_url %}"
              {% endif %}
        >
            {% csrf_token %}

            {% for field in form %}
            <fieldset class="form__input-container"
                    {% if field.field.required %}
                    aria-required="true"
                    {% else %}
                    aria-required="false"
                    {% endif %}
            >
                {% if field.field.widget.input_type != 'file' %}
                <label for="{{ field.id_for_label }}">
                    {{ field.label }}
                    {% if field.field.required %}
                    <span>*</span>
                    {% endif %}
                </label>
                <div>
                    {{ field|addclass:'form__input' }}
                    {% if field.help_text %}
                    <small id="{{ field.id_for_label }}-help">
                        {{ field.help_text|safe }}
                    </small>
                    {% endif %}
                </div>
                {% else %}
                    <label for="{{ field.id_for_label }}" class="image-label">
                        {{ field.label }}

                        {% if field.field.required %}
                            <span>*</span>
                        {% endif %}

                        {{ field|addclass:'form__input_file' }}
                        <div class="button__choose-file">Choose file</div>
                        {% if field.help_text %}
                        <small id="{{ field.id_for_label }}-help">
                            {{ field.help_text|safe }}
                        </small>
                        {% endif %}
                    </label>
                {% endif %}
            </fieldset>
            {% endfor %}
            <button type="submit" class="form__button">Save</button>
        </form>
    </div>
</div>
{% endblock %}
