{% extends "base.html" %}
{% block title %}Change password{% endblock %}
{% block content %}
{% load user_filters %}

    <h1 class="title">Change password</h1>
    <div class="form-container">
        {% if form.errors %}
        {% for field in form %}
        {% for error in field.errors %}
        <div>
            {{ error|escape }}
        </div>
        {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
        <div>
            {{ error|escape }}
        </div>
        {% endfor %}
        {% endif %}

        <form method="post"
              {% if action_url %}
              action="{% url action_url %}"
              {% endif %}
        >
            {% csrf_token %}

            {% for field in form %}
            <fieldset class="form__input-container"
                    {% if field.field.required %}
                    aria-required="true"
                    {% else %}
                    aria-required="false"
                    {% endif %}
            >
                <label for="{{ field.id_for_label }}">
                    {{ field.label }}
                    {% if field.field.required %}
                    <span>*</span>
                    {% endif %}
                </label>
                <div>
                    {{ field|addclass:'form__input' }}
                    {% if field.help_text %}
                    <small id="{{ field.id_for_label }}-help">
                        {{ field.help_text|safe }}
                    </small>
                    {% endif %}
                </div>
            </fieldset>
            {% endfor %}
            <button type="submit" class="form__button">Change</button>
        </form>
    </div>

{% endblock %}